@model IEnumerable<PoliziaMunicipale.Models.Verbale>

@{
    ViewBag.Title = "Piudieci";
}

<div class="container">
    @Html.ActionLink("Torna ad Avanzate", "Avanzate", "Avanzate", new { area = "" }, new { @class = "btn btn-outline-secondary mb-5 mt-2" })
    <h2>Infrazione con più di 10 Punti Decurtati </h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IDverbale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataViolazione)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IndirizzoViolazione)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DataVerbale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Importo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DecurtamentoPunti)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cognome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descrizione_Verbale)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDverbale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataViolazione)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IndirizzoViolazione)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DataVerbale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Cognome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrizione_Verbale)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
